.line{
  background-color: gray;
  width: 200px;
  height: 2px;
  margin-left: 10px;

}
.sign { 
  display: flex;
  align-items: center;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Name{ 
  width: 264.65px;
  margin: 10px;
}
.name{ 
  border-width: 1px;
  height: 30px;
  width: 260px;
  border: 1px;
  border-color: black;
}

.button{ 
  background-color: purple;
  width:100px;
  height: 40px;
  border-radius: 5px;
}
.input{ 
  border-left: none;
  border-top: none;
  border-right: none;
  width: 264px;
}
.mini{ 
  margin-top: 15px;
  display: flex;
  justify-content: start;
  width: 264px;
}