.container { 
    width: 100vw;
    height: 100vh;
    background-image: url(.//picture/pad/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1\ \(1\).jpg    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}
.top { 
    display: flex;
    justify-content: space-between;
    color: white;
}
.title{ 
    width: 514px;
    height: 120px;
    color: white;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 140px;
}
.minititle{ 
    width: 324px;
    height: 58px;
    font-size: 18px;
    color: white;
    margin-left: 140px;
}
.bottom { 
    display: flex;
    margin-left: 140px;
    margin-bottom: 213px ;
    
}
.get { 
    width: 163.41px;
    height: 56px;
    border-radius: 4px;
    background: #0BBEF2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{ 
    width: 316.92px;
    height: 56px;
}
.ear{ 
    font-family: 'Mulish';
    color: white;
    margin-left: 13.8px;
}
.team{ 
    color: white;
    display: flex;
}
.dot{ 
    color: blue;
}
.team{ 
    margin-left: 140px;
    margin-top: 15px;
    background-image: url(./picture/team..png);
    width: 83px;
    height: 23px;
}
.header{ 
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.log { 
    display: flex;

}
.texts { 
    color: white;
    margin-top: 15px;
    width: 128px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.texts:hover { 
    border-width: 2px;
    border-color: white;
    border-style: solid;
    opacity: 50%;
}
.pad{ 
    position: relative;
    display: flex;

    width: 640px;
    height: 705px;
    margin-right: 0px;
    background-image: url(./picture/pad/ooto\ Meetings\ 1\ copy.png);
    border-radius: 20px;
    background-size: cover;
    
}
.padd { 
    position: absolute;
    width: 263px;
    height: 130px;
    left: -102px;
    top: 74px;
    background-color:red;
}
.paddd { 
    position: absolute;
    width: 55.02px;
    height: 55.02px;
    right: 754px;
    bottom: 667.98px;
}
.padddd { 
    position: absolute;
    width: 78.96px;
    height: 7.96px;
    left: -40px;
    top: 544px;
}

.flex{
    display: flex;

}

.Grow{
    flex-grow: 1;
}