.container { 
    width: 100vw;
    height: 100vh;
    background-image: url(.//picture/pad/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1\ \(1\).jpg    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}
.top { 
    display: flex;
    justify-content: space-between;
    color: white;
}
.title{ 
    width: 514px;
    height: 120px;
    color: white;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 140px;
}
.minititle{ 
    width: 324px;
    height: 58px;
    font-size: 18px;
    color: white;
    margin-left: 140px;
}
.bottom { 
    display: flex;
    margin-left: 140px;
    margin-bottom: 213px ;
    
}
.get { 
    width: 163.41px;
    height: 56px;
    border-radius: 4px;
    background: #0BBEF2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{ 
    width: 316.92px;
    height: 56px;
}
.ear{ 
    font-family: 'Mulish';
    color: white;
    margin-left: 13.8px;
}
.team{ 
    color: white;
    display: flex;
}
.dot{ 
    color: blue;
}
.team{ 
    margin-left: 140px;
    margin-top: 15px;
    background-image: url(./picture/team..png);
    width: 83px;
    height: 23px;
}
.header{ 
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.log { 
    display: flex;

}
.texts { 
    color: white;
    margin-top: 15px;
    width: 128px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.texts:hover { 
    border-width: 2px;
    border-color: white;
    border-style: solid;
    opacity: 50%;
}
.pad{ 
    position: relative;
    display: flex;
    margin-top: 169px   ;
    width: 640px;
    height: 755px;
    margin-right: 0px;
    background-image: url(./picture/pad/ooto\ Meetings\ 1\ copy.png);
    border-radius: 20px;
    background-size: cover;
    
}
.padd { 
    position: absolute;
    width: 263px;
    height: 130px;
    left: -102px;
    top: 74px;
    background-color:F5F5F5;
    background-image: url(./picture/event\ 1.png);
    background-size: cover;
}
.paddd { 
    position: absolute;
    width: 55.02px;
    height: 55.02px;
    right: 254px;
    bottom: 667.98px;
}
.padddd { 
    position: absolute;
    width: 78.96px;
    height: 7.96px;
    left: -40px;
    top: 544px;
    
}
.bell { 
    position: absolute;
    width: 135px;
    height: 135px;
    background-image: url(./picture/pad/bell.png);
    background-size: cover; 
    left: -34px;
    bottom: 5px;
}

.flex{
    display: flex;

}

.Grow{
    flex-grow: 1;
}
.your_title { 
    width: 398px;
    height: 120px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}
.give_title { 
    margin-top: 30px;
    width: 465px;
    height: 145px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titles {
    display: flex;
    align-items: center;
    margin-left: 140px;
}
.women { 
    width: 558px;
    height: 575px;
    background-image: url(./picture/women.png);
    position: relative;
}
.deed {
    left: 309px;
    position: absolute;
    width: 229px;
    height: 116px;
    background-color: white;
    background-image: url(./picture/top.png); 
    border-radius: 6px;
    bottom: 422px;
}
.dood { 
    left: 309px;
    bottom: 303px;
    width: 249px;
    height: 99px;
    border-radius: 6px;
    position: absolute;
    background-image: url(./picture/bottom.png);
}

.mini_container { 
    margin-top: 139px;
    display: flex;
}
.text { 
    margin-top: 50px;
    margin-left: 145px;
}
.simple{ 
    width: 398px;
    height: 120px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}
.lorem { 
    margin-top: 30px;
    width: 465px;
    height: 145px;
}
.minii_container { 
    margin-top: 139px;
    display: flex;
    justify-content: end;
    margin-right: 300px;
}
.textt { 
    margin-top: 50px;
    margin-right: 145px;

}
.woman { 
    width: 558px;
    height: 575px;
    background-image: url(./picture/woman.png);
    position: relative;
}
.calendar {
    position: absolute;
    background-image: url(./picture/dund.png);
    width: 271px;
    height: 304px;
    left: 61px;
    top: 65px;
}
.what { 
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.first {
    height: 374px;
    width: 366px;
    color: black;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px 8px #888888;
}
.str { 
    width: 17.11px;
    height: 16.36px;
    background-image: url(./picture/star.png);
}
.star { 
    display: flex;
}
.lorm { 
    width: 291px;
    height: 154px;
}
.persons { 
    display: flex;
    align-items: center;
}
.person{ 
    margin-right: 10px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url(./picture/Ellipse.png);
}
.footer { 
    margin-top: 200px;
    background-image: url(./picture/Footer.png);
    width: 100vw;
    height: 336px;
    background-size: cover;
}
.bottom_container { 
    justify-content: center;
    display: flex;
    margin-top: 100px;
}
